<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Protein Finder</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'dnaForm:start' %}" method="post">
    {% csrf_token %}
    <h4> Enter a DNA Search String below:</h4>
    <input type="text" name="seq" id="seq">
    <input type="submit" value="Search">
</form>


{% if latest_search_list %}
<ul style="margin-top:34;">
    {% for search in latest_search_list %}
    <il>
    <p id="sequence">Sequence: {{ search.sequence }}</p>
    <p id="protein">Protein: {{ search.protein_name }}</p>
    <p id="position">Position: {{ search.position}}</p>
    <hr>
    </il>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

<script>
    function foo(){
        $.get("/form/ajax/get_results/", function(data, status){
            // alert("Data: " + data + "\nStatus: " + status);
            window.data = data;
            parsed_data = JSON.parse(data)

            $( "il" ).each(function( i ) {
                $(this).find("#sequence").text("Sequence: " + parsed_data[i].fields.sequence);
                $(this).find("#protein").text("Protein: " + parsed_data[i].fields.protein_name);
                $(this).find("#position").text("Position: " + parsed_data[i].fields.position);

            });
        });

    }

    setInterval(function(){
        foo()}, 1500)
</script>

