<h1>Protein Finder</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'dnaForm:start' %}" method="post">
    {% csrf_token %}
    <h4> Enter a DNA Search String below:</h4>
    <input type="text" name="seq" id="seq">
    <input type="submit" value="Search">
</form>


{% if latest_search_list %}
<ul style="margin-top:34;">
    {% for search in latest_search_list %}

    <p>Sequence: {{ search.sequence }}</p>
    <p>Protein: {{ search.protein_name }}</p>
    <p>Position: {{ search.position}}</p>
    <hr>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}